<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Vincho</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb524959976102533</string>
				<string>com.googleusercontent.apps.995314049125-du95ci0fka4pq78khjvitaoiatqch1lq</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.970175855707-6fvbhv8gjiqrndl020eosnptdh2iu0ig</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.11733203624-ne2b8n5f9e0blvlgsv9vivu2hbfo47mb</string>
			</array>
		</dict>

		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.941153267850-aqfog4fk3508sn5devrd65qgbjd8hcqt</string>
			</array>
		</dict>

		<!-- dev  -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.995314049125-0gojemji6l19f1k0cgd8kvpj7l8oh8ro</string>
			</array>
		</dict>
		<!--  -->
		
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>524959976102533</string>
	<key>FacebookClientToken</key>
	<string>c8506f1e37117d7d8ada5bf19aad24e4</string>
	<key>FacebookDisplayName</key>
	<string>VinchoApp</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict> 
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the photo library to use photos for your profile or upload it to send posts.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires access to your contacts list.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app require access to the location to To calculate the nearest and farthest users.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app require access to the location to To calculate the nearest and farthest users.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app would like to use your microphone to create post(for videos)</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app requires access to the photo library to use photos for your profile.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library to use photos for your profile or upload it to send posts.</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Barlow-Regular.ttf</string>
		<string>Barlow-SemiBold.ttf</string>
		<string>ABChanelCorpo-Regular.ttf</string>
		<string>Helvetica-Bold.ttf</string>
		<string>Helvetica-BoldOblique.ttf</string>
		<string>Helvetica-Light.ttf</string>
		<string>Helvetica-Oblique.ttf</string>
		<string>Helvetica.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
